.background-video {
/*  width: 100vw; */
  position: relative;
	height: 0;
  z-index: -99;
}

.background-video iframe {
  position: absolute;
	top: 0;
	left: 0;
  right: 0;
  bottom: 0;
	width: 100%;
	height: 100%;
}

.background-video img {
  position: absolute;
  z-index: -100;
}

/* Aspect Ratios */
.aspect-ratio-9-16 {
  width: 100vw;
  max-width: 100%;
  height: calc(100vw * (9/16));
  /* position: relative; */
}
.aspect-ratio-9-16 img {
  max-width: 100%;
  height: calc(100vw * (9/16)); /* -8px is due to some weird bug thing) */
/*  position: absolute; */
}

/* Fixed Heights */
.height600px {
  width: 100vw;
  max-width: 100%;
  height: 600px;
/*  position: relative; */
}

.height600px img {
  width: 100vw;
  max-width: 100%;
  height: auto;
/*  position: absolute;
  z-index: -100; */
  clip: rect(172px auto 1076px 0px);
  clip: rect(172px,auto,1076px,0px);
  -webkit-clip-path: inset(172px 0 173px 0);
  clip-path: inset(172px 0 173px 0);
  margin-top: -172px;
  margin-bottom: -173px;
}

.limited-width img {
  width: 100%;
  height: auto;
  z-index: -100;
}

/* Other */
.banner {
  color: white;
  font-size: 80px;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  padding: 40px;
  background: #FFB6C1;
  background: rgba(255, 182, 182, .8);
  border: 1px solid red;
}
