.relative-assets {
  position: relative;
}

.background-video {
  position: relative;
  height: 0;
  z-index: -99;
}

.background-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.layer {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(255, 182, 182, .4);
  z-index: 1;
}

.bv-image {
  position: absolute;
  z-index: -100;
  width: 100%;
  max-width: 100%;
}


/* Aspect Ratios */

.aspect-ratio-9-16 {
  width: 100vw;
  max-width: 100%;
  height: calc(100vw * (9/16));
}

.aspect-ratio-9-16 .bv-image {
  height: calc(100vw * (9/16));
}


/* Fixed Heights */

.height600px {
  width: 100vw;
  max-width: 100%;
  height: 600px;
  overflow-y: hidden;
}

.height600px .bv-image {
  margin-top: -160px;
}


/* Responsive Behaviour */

@media screen and (max-width: 1024px) {
  .height600px {
    height: 576px;
  }
  .height600px .bv-image {
    margin-top: -96px;
  }
}

@media screen and (max-width: 768px) {
  .height600px {
    height: 432px;
  }
  .height600px .bv-image {
    margin-top: -74px;
  }
}

@media screen and (max-width: 736px) {
  .height600px {
    height: 414px;
  }
  .height600px .bv-image {
    margin-top: -70px;
  }
}

@media screen and (max-width: 732px) {
  .height600px {
    height: 412px;
  }
  .height600px .bv-image {
    margin-top: -69px;
  }
}

@media screen and (max-width: 667px) {
  .height600px {
    height: 376px;
  }
  .height600px .bv-image {
    margin-top: -63px;
  }
}

@media screen and (max-width: 640px) {
  .height600px {
    height: 360px;
  }
  .height600px .bv-image {
    margin-top: -61px;
  }
}

@media screen and (max-width: 568px) {
  .height600px {
    height: 320px;
  }
  .height600px .bv-image {
    margin-top: -50px;
  }
}

@media screen and (max-width: 414px) {
  .height600px {
    height: 233px;
  }
  .height600px .bv-image {
    margin-top: -40px;
  }
}

@media screen and (max-width: 375px) {
  .height600px {
    height: 211px;
  }
  .height600px .bv-image {
    margin-top: -35px;
  }
}

@media screen and (max-width: 360px) {
  .height600px {
    height: 203px;
  }
  .height600px .bv-image {
    margin-top: -36px;
  }
}

@media screen and (max-width: 320px) {
  .height600px {
    height: 180px;
  }
  .height600px .bv-image {
    margin-top: -30px;
  }
}